.footer {
  width: 100%;
  text-align: center;
  background: #ffffff;
  color: #555;
  font-size: 14px;
  bottom: 0;
  z-index: 5;
  display : flex;
  juatify-content : center;
  gap:20px;
  border-top: 1px solid #ddd;
}
.copyright-box{
  display : flex;
  align-items : center;
}
.copyright-box span{
  width: 40%
}
