.location-card {
  background: #222831;
  border-radius: 16px;
  padding: 20px;
}

.location-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.location-container {
  display: flex;
  gap: 16px;
}

/* LEFT LIST */
.location-list {
  width: 35%;
  max-height: 400px;
  overflow-y: auto;
}

.location-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.location-item:hover {
  background: #393E46;
}

.location-item.active {
  background: #393E46;
}

.loc-name {
  font-weight: 500;
  color: #DFD0B8;
}

.loc-sub {
  font-size: 12px;
  color: #948979;
}

.loc-value {
  font-size: 13px;
  color: #DFD0B8;
}

/* RIGHT PANEL */
.location-details {
  width: 65%;
  padding: 10px 16px;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-header h4 {
  font-size: 16px;
  color: #DFD0B8;
}

.status-badge {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 999px;
}

.status-badge.critical {
  background: #DFD0B8;
  color: #d32f2f;
}

.status-badge.idle {
  background: #948979;
  color: #222831;
}

.status-badge.healthy {
  background: #e6f4ea;
  color: #1b873f;
}

/* STATS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
  gap: 10px;
}

.stats-grid div {
  background: #393E46;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: #DFD0B8;
}

/* UTILIZATION */
.utilization {
  margin-top: 16px;
  color: #DFD0B8;
}

.bar {
  height: 8px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin: 6px 0;
}

.fill {
  height: 100%;
  background: #948979;
}

/* COST GRID */
.cost-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 16px;
}

.cost-grid div {
  background: #393E46;
  padding: 10px;
  border-radius: 8px;
  color: #DFD0B8;
}

/* META */
.meta {
  margin-top: 16px;
  font-size: 13px;
  color: #DFD0B8;
}

.meta p {
  margin-bottom: 6px;
}