/* src/Page_styles/ForgotPassword.css */
.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: #222831; */
}

.forgot-card {
  background: #222831;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.forgot-card h2 {
  margin-bottom: 10px;
  color: #DFD0B8;
}

.forgot-card p {
  font-size: 14px;
  color: #948979;
  margin-bottom: 20px;
}

.forgot-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-card label {
  font-size: 14px;
  text-align: left;
  color: #948979;
}

.forgot-card input {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  background: #393E46;
  border: none;
  color: #DFD0B8;
}

.forgot-card input:focus {
  border-color: #DFD0B8;
  outline: none;
}

.forgot-card button {
  background: #DFD0B8;
  color: #222831;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.forgot-card button:hover {
  background: #948979;
}

.message {
  margin-top: 15px;
  font-size: 14px;
  color: green;
}
