.classification_card {
  background-color: #fff;
  border-radius: 16px;
  /* padding: 25px; */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card_header h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1e1e2f;
}

.status_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.status_form input {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-width: 200px;
  font-size: 0.95rem;
}

.status_form button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background : #2346ed;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.status_form button:hover {
  opacity: 0.9;
}

.card_content table {
  width: 100%;
  border-collapse: collapse;
}

.card_content th, .card_content td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size : 13px;
}

.card_content th {
  color: #555;
  font-weight: 600;
  font-size : 13px;
}

.pagination_container {
  margin-top: 15px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  font-size : 13px;
}

.pagination_container button {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination_container button.active {
  background-color: #4f46e5;
  color: #fff;
  border-color: #4f46e5;
}

.pagination_container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Responsive */
@media (max-width: 768px) {
  .card_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .status_form input {
    width: 100%;
  }
}
